/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  position: relative;
  padding-top: 50px;
}
.affix {
  top: 20px;
  width: auto;
  position: static;
  margin-top: 50px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
  .affix {
    top: 20px;
    width: auto;
    position: fixed;
	  margin-top: 50px;
  }
}
.tab-content {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 50px;
}
.nav-tabs {
    margin-top: 50px;
}
pre{
  /* code aria */
  background-color: #333333;
  color: #eeeeee;
}
a.undecor {
  text-decoration: none;
  color: black;
}
hr {
    /* simple hr */
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ddd;
}
.row-footer{
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
    padding: 10px 0px 30px 0px;
    margin-top: 10px;
}
.myMainPageText{
  padding-bottom: 20px;
}
@media (min-width: 750px){
  .myRowEq {
      /* for equal columns inside the row */
      display:flex;
      align-items:stretch;
  }
  .myMainPageText{
      /* for text inside equal columns */
      display:flex;
      align-items:stretch;
      flex-wrap: wrap;
      align-content:space-between;
  }
}
.jumbotron {
  background:url(/img/rspamd_head_alt.png);
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 992px){
    /* when navbar is thick */
    .jumbotron {margin-top: 70px;}
}
@media (min-width: 992px){
  /* usual screen */
  .jumbotron {
    margin-top: 20px;

  }
}
.btn-code{
  background-color: #333333 !important;
  color: #eeeeee;
  border: none;
  font-family: monospace;
  text-decoration: none;
}
code {
  background-color: rgba(0,0,0,0.04) !important;
  color: inherit;
}
div.short-news {height: 200px;	overflow-y: hidden;}
short-news p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
