/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  position: relative;
  padding-top: 50px;
}

.affix {
  top: 20px;
  width: auto;
  position: static;
  margin-top: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
	background:url(/img/rspamd_head_alt.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
  .affix {
    top: 20px;
    width: auto;
    position: fixed;
	  margin-top: 50px;
  }
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #F0F0F0;
}
.nav-tabs {
    margin-top: 50px;
    font-size: 70%;
}
.nav-tabs > li > a:hover{
    /* not active tab hover */
    background-color: #E8E8E8 !important;
}
.nav-tabs > li.active,
.nav-tabs > li.active > a{
    /* active and default active tab */
    background-color: #F0F0F0 !important;
    border-bottom: 0px;
}
@media (min-width: 480px) {
    /* change fonts size inside navigation tabs */
    .nav-tabs {
        font-size: 100%;
    }
}
