/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
	background:url(/img/rspamd_head.png);
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}
