[submodule "interface"]
	path = interface
	url = git://github.com/vstakhov/rspamd-interface
[submodule "doc/doxydown"]
	path = doc/doxydown
	url = https://github.com/vstakhov/doxydown.git
[submodule "contrib/snowball"]
	path = contrib/snowball
	url = https://github.com/vstakhov/snowball
[submodule "contrib/siphash"]
	path = contrib/siphash
	url = https://github.com/vstakhov/siphash
