[submodule "src/rdns"]
	path = src/rdns
	url = git://github.com/vstakhov/librdns
[submodule "interface"]
	path = interface
	url = git://github.com/vstakhov/rspamd-interface
[submodule "src/ucl"]
	path = src/ucl
	url = git://github.com/vstakhov/libucl
[submodule "doc/doxydown"]
	path = doc/doxydown
	url = https://github.com/vstakhov/doxydown.git
[submodule "contrib/snowball"]
	path = contrib/snowball
	url = https://github.com/vstakhov/snowball
