[Unit]
Description=rapid spam filtering system

[Socket]
ListenStream=11333
ListenStream=[::1]:11334

BindIPv6Only=both

[Install]
WantedBy=sockets.target
