<?xml version="1.0" encoding="UTF-8"?>
<rspamd>
<!-- Main section -->
<tempdir>/tmp</tempdir>
<pidfile>/var/run/rspamd.pid</pidfile>
<filters>regexp,surbl,chartable,fuzzy_check,spf</filters>
<statfile_pool_size>262144000</statfile_pool_size>
<raw_mode>yes</raw_mode>
<lua src="@ETC_PREFIX@/rspamd/lua/rspamd.lua" />
<!-- End of main section -->

<!-- Logging section -->
<logging>
 <level>info</level>
 <log_urls>yes</log_urls>
 <type>console</type>
<!-- Other types
 <type filename="/var/log/rspamd/rspamd.log">file</type>
 <type facility="local7">syslog</type>
-->
<!-- Selective debug
 <debug_ip>127.0.0.1</debug_ip>
 <debug_symbols>SYMBOL1,SYMBOL2</debug_symbols>
-->
</logging>
<!-- End of logging section -->


<!-- Factors section -->
<metric>
 <name>default</name>
 <required_score>10.0</required_score>
 <action>reject</action>
 <action>greylist:5</action>
 <action>add_header:5</action>
 <symbol weight="8.00">R_SPAM_FROM_MTU</symbol>
 <symbol weight="10.00">R_WWW_EKONF_COM</symbol>
 <symbol weight="2.00">R_TINYURL</symbol>
 <symbol weight="2.00">MISSING_SUBJECT</symbol>
 <symbol weight="2.10">FORGED_OUTLOOK_TAGS</symbol>
 <symbol weight="8.00">R_FAKE_THEBAT</symbol>
 <symbol weight="5.00">FORGED_SENDER</symbol>
 <symbol weight="2.00">DRUGS_MANYKINDS</symbol>
 <symbol weight="3.30">ADVANCE_FEE_2</symbol>
 <symbol weight="2.12">ADVANCE_FEE_3</symbol>
 <symbol weight="3.50">SUSPICIOUS_RECIPS</symbol>
 <symbol weight="6.00">FAKE_REPLY_C</symbol>
 <symbol weight="1.00">MIME_HTML_ONLY</symbol>
 <symbol weight="5.50">AB_SURBL_MULTI</symbol>
 <symbol weight="2.00">FORGED_MSGID_YAHOO</symbol>
 <symbol weight="5.50">SC_SURBL_MULTI</symbol>
 <symbol weight="2.00">FORGED_MUA_THEBAT_BOUN</symbol>
 <symbol weight="5.00">R_MISSING_CHARSET</symbol>
 <symbol weight="2.00">RCVD_DOUBLE_IP_SPAM</symbol>
 <symbol weight="5.50">OB_SURBL_MULTI</symbol>
 <symbol weight="5.00">FORGED_OUTLOOK_HTML</symbol>
 <symbol weight="2.00">HTML_MIME_NO_HTML_TAG</symbol>
 <symbol weight="10.50">R_BAD_EMAIL</symbol>
 <symbol weight="10.00">R_SPAM_FROM_LIBERO</symbol>
 <symbol weight="-2.00">WHITELIST_IP</symbol>
 <symbol weight="5.00">R_UNDISC_RCPT</symbol>
 <symbol weight="2.00">DRUGS_ANXIETY</symbol>
 <symbol weight="2.00">DRUGS_ANXIETY_EREC</symbol>
 <symbol weight="5.50">PH_SURBL_MULTI</symbol>
 <symbol weight="9.00">R_WHITE_ON_WHITE</symbol>
 <symbol weight="1.00">FAKE_HTML</symbol>
 <symbol weight="10.00">R_SPAM_FROM_VERSATEL</symbol>
 <symbol weight="3.00">HTML_SHORT_LINK_IMG_2</symbol>
 <symbol weight="3.00">FORGED_MUA_OUTLOOK</symbol>
 <symbol weight="4.00">R_FREE_HOSTING</symbol>
 <symbol weight="2.00">DRUGS_ERECTILE</symbol>
 <symbol weight="3.00">R_FREE_HOSTING_NAROD</symbol>
 <symbol weight="10.00">R_SPAM_FROM_ONO</symbol>
 <symbol weight="2.00">FM_FAKE_HELO_VERIZON</symbol>
 <symbol weight="2.00">REPTO_QUOTE_YAHOO</symbol>
 <symbol weight="5.00">MISSING_MIMEOLE</symbol>
 <symbol weight="0.50">RAMBLER_URIBL</symbol>
 <symbol weight="10.00">R_SPAM_FROM_VALUEHOST</symbol>
 <symbol weight="5.00">R_MIXED_CHARSET</symbol>
 <symbol weight="3.50">SORTED_RECIPS</symbol>
 <symbol weight="3.00">R_RCVD_SPAMBOTS</symbol>
 <symbol weight="5.50">JP_SURBL_MULTI</symbol>
 <symbol weight="3.00">R_TO_SEEMS_AUTO</symbol>
 <symbol weight="1.00">SUBJECT_NEEDS_ENCODING</symbol>
 <symbol weight="3.84">TRACKER_ID</symbol>
 <symbol weight="7.00">KAM_LOTTO1</symbol>
 <symbol weight="3.00">R_NO_SPACE_IN_FROM</symbol>
 <symbol weight="8.00">R_SAJDING</symbol>
 <symbol weight="6.00">R_BAD_CTE_7BIT</symbol>
 <symbol weight="5.50">WS_SURBL_MULTI</symbol>
 <symbol weight="10.00">R_POCHTA_RU</symbol>
 <symbol weight="10.00">R_FLASH_REDIR_IMGSHACK</symbol>
 <symbol weight="5.00">INVALID_MSGID</symbol>
 <symbol weight="8.00">R_FORGED_MPOP_WEBMAIL</symbol>
 <symbol weight="3.00">MISSING_MID</symbol>
 <symbol weight="2.00">DRUGS_DIET</symbol>
 <symbol weight="3.00">FORGED_RECIPIENTS</symbol>
 <symbol weight="2.00">RATWARE_MS_HASH</symbol>
 <symbol weight="5.00">HTML_TAG_BALANCE_HEAD</symbol>
 <symbol weight="1.00">STOX_REPLY_TYPE</symbol>
 <symbol weight="3.00">BAYES_SPAM</symbol>
 <symbol weight="-3.00">BAYES_HAM</symbol>
 <symbol weight="2.00">MIME_HEADER_CTYPE_ONLY</symbol>
 <symbol weight="8.00">R_FAKE_OUTLOOK</symbol>
</metric>
<!-- End of factors section -->

<!-- Composites section -->
<!-- End of composites section -->

<!-- Workers section -->
<worker>
  <type>fuzzy</type>
  <bind_socket>localhost:11335</bind_socket>
  <count>1</count>
  <maxfiles>2048</maxfiles>
  <maxcore>0</maxcore>
<!-- Other params -->
    <param name="hashfile">/tmp/fuzzy.db</param>
    <param name="use_judy">yes</param>
</worker>
<worker>
  <type>controller</type>
  <bind_socket>localhost:11334</bind_socket>
  <count>1</count>
  <maxfiles>2048</maxfiles>
  <maxcore>0</maxcore>
<!-- Other params -->
    <param name="password">q1</param>
</worker>
<worker>
  <type>normal</type>
  <bind_socket>*:11333</bind_socket>
  <count>1</count>
  <maxfiles>2048</maxfiles>
  <maxcore>0</maxcore>
<!-- Other params -->
</worker>
<!-- End of workers section -->

<!-- Modules section -->
<!-- fuzzy_check -->
<module name="fuzzy_check">
  <option name="servers">localhost:11335</option>
  <option name="symbol">R_FUZZY</option>
  <option name="min_length">300</option>
  <option name="max_score">10</option>
  <option name="mime_types">application/pdf</option>
  <option name="metric">default</option>
  <option name="fuzzy_map">1:R_FUZZY1:10,2:R_FUZZY2:5,3:R_FUZZY3:-2.1</option>
</module>


<!-- forged_recipients -->
<module name="forged_recipients">
  <option name="symbol_sender">FORGED_SENDER</option>
  <option name="symbol_rcpt">FORGED_RECIPIENTS</option>
</module>

<!-- maillist -->
<module name="maillist">
  <option name="symbol">MAILLIST</option>
</module>

<!-- surbl -->
<module name="surbl">
  <option name="whitelist">file://@ETC_PREFIX@/rspamd/surbl-whitelist.inc</option>
  <option name="2tld">file://@ETC_PREFIX@/rspamd/2tld.inc</option>
  <option name="metric">default</option>
  <option name="bit_64">JP</option>
  <option name="bit_32">AB</option>
  <option name="bit_16">OB</option>
  <option name="bit_8">PH</option>
  <option name="bit_4">WS</option>
  <option name="bit_2">SC</option>
  <option name="suffix_RAMBLER_URIBL">uribl.rambler.ru</option>
  <option name="suffix_%b_SURBL_MULTI">multi.surbl.org</option>
  <option name="redirector_read_timeout">10s</option>
  <option name="redirector_connect_timeout">1s</option>
  <option name="redirector">localhost:8080</option>
</module>

<!-- received_rbl -->
<module name="received_rbl">
  <option name="symbol">RECEIVED_RBL</option>
  <option name="rbl">pbl.spamhaus.org</option>
  <option name="rbl">xbl.spamhaus.org</option>
  <option name="rbl">insecure-bl.rambler.ru</option>
</module>

<!-- whitelist -->
<module name="whitelist">
  <option name="ip_whitelist">http://cebka.pp.ru/stuff/grey_whitelist.conf</option>
  <option name="symbol_ip">WHITELIST_IP</option>
</module>

<!-- chartable -->
<module name="chartable">
  <option name="threshold">0.1</option>
  <option name="symbol">R_MIXED_CHARSET</option>
  <option name="metric">default</option>
</module>

<!-- once_received -->
<module name="once_received">
  <option name="good_host">mail</option>
  <option name="bad_host">static</option>
  <option name="bad_host">dynamic</option>
  <option name="symbol_strict">ONCE_RECEIVED_STRICT</option>
  <option name="symbol">ONCE_RECEIVED</option>
</module>

<!-- multimap -->
<module name="multimap">
<!--
	<option name="rule">type = header, header = To, pattern = @(.+)>?$, map = file://@ETC_PREFIX@/rspamd/rcpt_test, symbol = R_RCPT_WHITELIST</option>
	<option name="rule">type = ip, map = file://@ETC_PREFIX@/rspamd/ip_test, symbol = R_IP_WHITELIST</option>
-->
	<option name="rule">type = dnsbl, map = pbl.spamhaus.org, symbol = R_IP_PBL</option>
</module>


<!-- End of modules section -->

<!-- Classifiers section -->
<!--
<classifier type="winnow">
 <tokenizer>osb-text</tokenizer>
 <metric>default</metric>
 <option name="min_tokens">20</option>
 <statfile>
  <symbol>WINNOW_HAM</symbol>
  <size>100M</size>
  <path>/var/run/rspamd/data.ham</path>
 </statfile>
 <statfile>
  <symbol>WINNOW_SPAM</symbol>
  <size>100M</size>
  <path>/var/run/rspamd/data.spam</path>
 </statfile>
</classifier>
-->
<!-- Example of slave
<classifier type="bayes">
 <tokenizer>osb-text</tokenizer>
 <metric>default</metric>
 <option name="min_tokens">10</option>
 <option name="learn_threshold">0.2</option>
 <statfile>
  <symbol>BAYES_HAM</symbol>
  <size>10M</size>
  <path>/var/run/rspamd/bayes_slave.ham</path>
  <binlog_master>localhost:11334</binlog_master>
  <binlog>slave</binlog>
 </statfile>
 <statfile>
  <symbol>BAYES_SPAM</symbol>
  <size>10M</size>
  <path>/var/run/rspamd/bayes_slave.spam</path>
  <binlog>slave</binlog>
  <binlog_master>localhost:11334</binlog_master>
 </statfile>
</classifier>

-->
<classifier type="bayes">
 <tokenizer>osb-text</tokenizer>
 <metric>default</metric>
 <option name="min_tokens">10</option>
 <option name="learn_threshold">0.2</option>
 <statfile>
  <symbol>BAYES_HAM</symbol>
  <size>10M</size>
  <path>/var/run/rspamd/bayes.ham</path>
  <binlog>master</binlog>
 </statfile>
 <statfile>
  <symbol>BAYES_SPAM</symbol>
  <size>10M</size>
  <path>/var/run/rspamd/bayes.spam</path>
  <binlog>master</binlog>
 </statfile>
</classifier>

<!-- End of classifiers section -->

<!-- Modules section -->
<modules>
	<path>@ETC_PREFIX@/rspamd/plugins/lua/</path>
</modules>
<!-- End of modules section -->

</rspamd>
