<!-- Site footer -->
<footer class="row-footer">
      <div class="container body-content">
          <!--div class="row row-footer"-->
              <div class="col-xs-4 pull-left">
                  <!-- Social buttons -->
                  <div class="nav navbar-nav" style="margin-top: 10px;">
                      <a class="btn btn-xs btn-social-icon btn-google-plus" href="https://groups.google.com/forum/#!forum/rspamd"><i class="fa fa-google-plus"></i></a>&nbsp;
                      <a class="btn btn-xs btn-social-icon btn-reddit" href="http://freenode.net" data-toggle="tooltip" data-placement="top" title="channel #rspamd"><p style="font-size:80%">IRC</p></a>&nbsp;
                      <a class="btn btn-xs btn-social-icon btn-twitter" href="https://twitter.com/rspamd"><i class="fa fa-twitter"></i></a>&nbsp;
                      <a class="btn btn-xs btn-social-icon btn-github" href="https://github.com/vstakhov/rspamd"><i class="fa fa-github"></i></a>
                 </div>
              </div>
              <div class="col-xs-2 pull-right">
                <!-- Back to top -->
                <a class="btn btn-link" href="#top"><i class="fa fa-arrow-up"></i> Back to top</a>
              </div>
          </div>
      <!--/div-->
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript"
	   src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<script>
		// Fix for offsets in links
		$(document).ready(
		function() {
			var offset = 50;

			$('body').scrollspy({ target: '#navbar-spy', offset: offset + 10 });

			$('[data-toggle="tooltip"]').tooltip();// tooltips for buttons

			$('.nav-stacked li a').click(function(event) {
				if ($(this).attr('href')[0] == '#') {
					event.preventDefault();
					window.location.hash = $(this).attr('href')
					$($(this).attr('href'))[0].scrollIntoView();
					scrollBy(0, -offset);
				}
			});
		}
		);
	</script>

  </body>
</html>
