# Suspicious TLDs
# These are in addition to the built-in list: .tk, .ml, .ga, .cf, .gq
# Format: TLD with leading dot (one per line)

# Frequently abused TLDs
.xyz
.top
.work
.date
.loan
.win
.download
.stream
.click
.link
.racing

# Add your suspicious TLDs below:
# .suspicious
