---
layout: default
title: Rspamd Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Ubuntu Pagination links -->
<ul id="post-pagination" class="pagination pagination-sm">
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/blog/">&laquo;</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">&laquo;</a>
      {% endif %}
    </li>
  {% else %}
    <li class="previous disabled">
      <span>&laquo;</span>
    </li>
  {% endif %}

    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/blog/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/blog/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}

  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}">&raquo;</a>
    </li>
  {% else %}
    <li class="next disabled">
      <span>&raquo;</span>
    </li>
  {% endif %}

</ul>

<!-- Pagination links
<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/blog/">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </p>
  {% else %}
    <p class="previous disabled">
      <span>Previous</span>
    </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/blog/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/blog/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>Next</span>
    </p>
  {% endif %}

</div> -->
