{% include top.html %}	 
	 <div class="container">

	 <div class="row">
	 <div class="col-sm-3">
	 <!-- Docs navigation -->
	 	<ul data-spy="affix" class="nav nav-pills nav-stacked" role="navigation">
			<li class="nav-header"><h4>Rspamd documentation</h4></li>
			<li><a  href="/doc/index.html">Documentation index</a></li>
			<li class="divider"></li>
			<li class="nav-header">General documentation</li>
			<li><a  href="/doc/quickstart.html">Quick start</a></li>
			<li><a  href="/doc/features.html">Rspamd features</a></li>
			<li><a  href="/doc/integration.html">Integration to MTA</a></li>
			<li><a  href="/doc/migration.html">Migration between releases</a></li>
			<li class="divider"></li>
			<li class="nav-header">Special documentation</li>
			<li><a  href="/doc/architecture/">Architecture</a></li>
			<li><a  href="/doc/configuration/">Configuration guide</a></li>
			<li><a  href="/doc/modules/">Rspamd modules</a></li>
			<li><a  href="/doc/workers/">Rspamd workers</a></li>
			<li><a  href="/doc/lua/">Lua API guide</a></li>
		</ul>
	 </div>

	 <div class="col-sm-9">
     <div class="body-content">
                {{ content }}
      </div>
	 </div>

	 </div> <!-- row -->

      <!-- Site footer -->
	  <hr>
	  <footer>
	    <p class="pull-right"><a href="#top">Back to top</a></p> 
		<!--
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
        <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</p>
		-->
      </footer>

    </div> <!-- /container -->
{% include bottom.html %}
