{% include top.html %}	 
	 <div class="container">

	 <div class="row">
	 <div class="col-sm-3">
	 <!-- Docs navigation -->
	 	<ul data-spy="scroll" class="nav nav-pills nav-stacked" role="navigation">
			<li class="nav-header"><h4>Rspamd documentation</h4></li>
			<li><a  href="/doc/index.html">Documentation index</a></li>
			<li class="divider"></li>
			<li class="nav-header">Common configuration principles</li>
			<li><a  href="/doc/configuration/index.html">Configuration file</a></li>
			<li><a  href="/doc/configuration/settings.html">User settings</a></li>
			<li class="divider"></li>
			<li class="nav-header">Specific configuration topics</li>
			<li><a  href="/doc/configuration/options.html">Generic options</a></li>
			<li><a  href="/doc/configuration/logging.html">Logging setup</a></li>
			<li><a  href="/doc/configuration/metrics.html">Metrics, actions and symbols</a></li>
			<li><a  href="/doc/configuration/composites.html">Composite symbols</a></li>
			<li><a  href="/doc/configuration/statistic.html">Statistical module</a></li>
			<li><a  href="/doc/workers/index.html">Workers setup</a></li>
			<li><a  href="/doc/modules/index.html">Modules setup</a></li>
		<!--	<li><a  href="/doc/lua/classifier.html">Lua classifier module</a></li> -->
		</ul>
	 </div>

	 <div class="col-sm-9">
     <div class="body-content">
                {{ content }}
      </div>
	 </div>

	 </div> <!-- row -->

      <!-- Site footer -->
	  <hr>
	  <footer>
	    <p class="pull-right"><a href="#top">Back to top</a></p> 
		<!--
        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
        <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</p>
		-->
      </footer>

    </div> <!-- /container -->
{% include bottom.html %}
