<!-- remove the white space after footer-->
{% include top.html %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.baseurl }}/doc/index.html">Documentation</a></li>
		<li class="active">{{ page.title }}</li>
	</ol>
	<div class="row">
		<div class="col-sm-3">
			<!-- Docs navigation -->
			<ul data-spy="affix" class="nav nav-pills nav-stacked affix" role="navigation">
				<li class="nav-header">
					<h4>Rspamd documentation</h4></li>
				<li><a href="{{ site.baseurl }}/doc/index.html">Documentation index</a></li>
				<li class="divider"></li>
				<li class="nav-header">Rspamd configuration</li>
				<li><a href="{{ site.baseurl }}/doc/configuration/index.html">Overview</a></li>
				<li class="divider"></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/composites.html">Composite symbols</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/logging.html">Logging setup</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/metrics.html">Symbols scores and metrics setup</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/options.html">Common options</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/redis.html">Redis server setup</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/statistic.html">Statistical module setup</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/ucl.html">Universal configuration language (UCL)</a></li>
				<li><a href="{{ site.baseurl }}/doc/configuration/upstream.html">Upstreams setup</a></li>
			</ul>
		</div>

		<div class="col-sm-9">
			<div class="body-content doc-content">
				{{ content }}
			</div>
		</div>
		<!-- row -->
	</div>
	<div class="push"></div>
{% include bottom.html %}