{% include top.html %}
	 <div class="container">

	 <div class="row">
	 <div class="col-sm-3">
	 <!-- Docs navigation -->
	 	<ul data-spy="affix" class="nav nav-pills nav-stacked affix" role="navigation">
			<li class="nav-header"><h4>Rspamd documentation</h4></li>
			<li><a  href="{{ site.baseurl }}/doc/index.html">Documentation index</a></li>
			<li class="divider"></li>
			<li class="nav-header"><h4>Rspamd tutorials</h4></li>
			<li><a  href="{{ site.baseurl }}/doc/tutorials/writing_rules.html">Writing rules</a></li>
			<li><a  href="{{ site.baseurl }}/doc/quickstart.html">Quick start</a></li>
			<li><a  href="https://kaworu.ch/blog/2014/03/25/dovecot-antispam-with-rspamd/">Dovecot tutorial</a></li>
		</ul>
	 </div>

	 <div class="col-sm-9">
     <div class="body-content doc-content">
                {{ content }}
      </div>
	 </div>

	 </div> <!-- row -->

   </div> <!-- /container -->
{% include bottom.html %}
