{% include top.html %}
<div class="jumbotron" id="jumbo-head">
	<div class="container">
		<h2>Download</h2>
		<p>
			<!-- download button with tooltip -->
			<a class="btn btn-primary" href="{{ site.baseurl }}/downloads/rspamd-1.3.5.tar.xz" data-toggle="tooltip" data-placement="bottom" title="Download the most recent stable version as source tarball">Download rspamd-1.3.5</a>
			<!-- github button -->
			<iframe style="vertical-align: middle;" src="//rspamd.com/github-btn.html?user=vstakhov&repo=rspamd&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="215" height="38"></iframe>
		</p>
	</div>
</div>
<div class="container">

	<div class="body-content" margin-top="50px">
		{{ content }}
	</div>
	<!-- /.body-content -->

</div>
<!-- /container -->
<div class="push"></div>
{% include bottom.html %}