<div id="wrapper">
	<!-- remove the white space after footer-->
	{% include top.html %}

	<!-- Jumbotron -->
	<div class="jumbotron" id="jumbo-head">
		<div class="container">
			<h1 style="margin-bottom:0px;">Rspamd</h1>
			<p style="font-size:16px;">Fast, free and open-source spam filtering system.</p>
			<!--p><a class="btn btn-primary btn-large" href="/doc/quickstart.html">Quick start &raquo;</a></p-->
		</div>
	</div>

	<div class="container">
		<div class="body-content">

			<div class="row" style="margin-top: 10px;">
			    <div class="col-xs-12 col-sm-3">
			        <ul class="nav nav-pills nav-stacked" role="tablist">
			            <li role="presentation" class="active">
			                <a href="#video1" aria-controls="video1" role="tab" data-toggle="tab" id="video_tab1" onclick="stop_video()">
												Video1
												<p><small>Additional info</small></p>
											</a>
			            </li>
			            <li role="presentation">
			                <a href="#video2" aria-controls="video2" role="tab" data-toggle="tab" id="video_tab2" onclick="stop_video()">
												Video2
												<p><small>Additional info</small></p>
											</a>
			            </li>
			        </ul>
			    </div>
			    <div class="col-xs-12 col-sm-9">
			        <div class="tab-content" style="border: none;">
			            <div role="tabpanel" class="tab-pane fade in active" id="video1">
			                <h2>Video header</h2>
			                <div class="embed-responsive embed-responsive-16by9">
			                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/_fl9i-az_Q0" id="youtube1"></iframe>
			                </div>
			                <p>Video text</p>
			            </div>
			            <div role="tabpanel" class="tab-pane fade" id="video2">
			                <h2>Video header</h2>
			                <div class="embed-responsive embed-responsive-16by9">
			                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/aMJcry0u_HQ"  id="youtube2"></iframe>
			                </div>
			                <p>Video text</p>
			            </div>
			        </div>
					</div>
      </div>
				{{ content }}
		</div>
		<!-- /.body-content -->

		<!--
		        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
		        <p>Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</p>
				-->

	</div>
	<!-- /container -->
	<div class="push"></div>
</div>
{% include bottom.html %}
